/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/old
/dev
backup-1-feb-2021.zip
code.zip
/uploadDescktop
vpwglass.zip
